@(roomname: String)(content: Html)

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <base target="_blank" />
	<title>Play Painter - @roomname room</title>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
</head>
<body>
  <div id="wrapper">
	    @content
    <footer>
      <p>
      <a href="http://github.com/gre/playpainter">Play Painter</a> is a <a href="http://playframework.org/2.0">Play!</a> experiment by <a href="http://gaetanrenaudeau.fr/">Gaëtan Renaudeau</a> (2012)
      </p>
      <p>
      <a href="http://blog.greweb.fr/?p=1191">post your feedback</a> - <a href="http://github.com/gre/playpainter">checkout the source code</a>
      </p>
    </footer>
  </div>

</body>
</html>
