body {
  padding: 0;
  margin: 0;
  background: black;
}
#viewport {
  position: relative;
  width: 500px;
  height: 300px;
}
#viewport canvas {
  position: absolute;
  top: 0;
  margin: 0;
}
#me {
  z-index: 10;
}
#others {
  z-index: 5;
}
