@(title: String)(content: Html)

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <base target="_blank" />
	<title>@title</title>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
</head>
<body>
  <div id="wrapper">
	    @content
    <footer>
      <a href="http://github.com/gre/playpainter">Play Painter</a> is a <a href="http://playframework.org/2.0">Play!</a> experiment by <a href="http://gaetanrenaudeau.fr/">Gaëtan Renaudeau</a> (2012)
    </footer>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'greweb'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

  </div>
</body>
</html>
