@(title: String)(content: Html)

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <base target="_blank" />
	<title>@title</title>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
</head>
<body>
  <div id="wrapper">
	    @content
    <footer>
      <a href="http://github.com/gre/playpainter">Play Painter</a> is a <a href="http://playframework.org/">Play!</a> experiment by <a href="http://gaetanrenaudeau.fr/">Gaëtan Renaudeau</a> (2012)
    </footer>
  </div>
</body>
</html>
